<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="knavehack ttrpg">
    <title>knavehack</title>
    <link rel="icon" href="https://fav.farm/♞" />
    <link rel="stylesheet" href="/public/pico.min.css">
    <link rel="stylesheet" href="/public/main.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>knavehack</h1>
        <div>
          <a href="/">rules</a> /
          <a href="/players">players</a> /
          <a href="/gms">gms</a>
        </div>
        <hr />
      </header>

      <br />

      <div class="two-column">
        <aside>
          {{ content | toc | safe }}
        </aside>

        <main>
          {{ content | safe }}
        </main>
      </div>

      <br />

      <footer>
        <hr />

        knavehack - <a href="https://github.com/mgmarlow/knavehack/blob/main/LICENSE">open game license</a> - <a href="https://github.com/mgmarlow/knavehack">github</a>
      </footer>
    </div>
    <script src="/assets/js/application.js"></script>
  </body>
</html>
