<nav x-data="{ open: false }" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      ♞ Knavehack
    </a>

    <a @click="open = !open"
       role="button"
       :class="open ? 'navbar-burger is-active' : 'navbar-burger'"
       aria-label="menu"
       aria-expanded="false"
       data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" :class="open ? 'navbar-menu is-active' : 'navbar-menu'">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Rules
      </a>

      <a class="navbar-item" href="/players">
        Create a character
      </a>
    </div>
  </div>
</nav>
