@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --main-bg-color: #14161a;
    --main-text-color: #abb1bf;
    --bold-text-color: #ebecf0;
    --info-text-color: #7585ff;
    --border-color: #abb1bf;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
}

p:not(:last-child) {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, strong, thead {
    color: var(--bold-text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

/* 1.125 - Major Second */
h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
    margin-top: 3rem;
}

h3 {
    font-size: 1.424rem;
}

h4 {
    font-size: 1.266rem;
}

h5 {
    font-size: 1.125;
}

h6 {
    font-size: 1rem;
}

a {
    color: var(--info-text-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
}

button {
    background-color: var(--main-bg-color);
    border: 1px solid var(--info-text-color);
    color: var(--main-text-color);
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    font-size: 1rem;
}

/* tables */
table {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 14px;
}

table thead th {
    border-width: 0 0 2px;
    text-align: left;
}

table td, table th {
    border: 1px solid var(--border-color);
    border-width: 0 0 1px;
    padding: 0.5rem 0.25rem;
}

/* lists */
ol:not(:first-child), ul:not(:first-child) {
    margin-top: 1rem;
}

ol:not(:last-child), ul:not(:last-child) {
    margin-bottom: 1rem;
}

ol, ul {
    margin-inline-start: 2rem;
}

ul {
    list-style: disc;
}

/* navigation */
.navbar {
    margin-bottom: 1rem;
}

.navbar ul {
    list-style: none;
    margin-inline-start: 0;
    display: flex;
    justify-content: space-between;
}

.navbar .brand, .navbar .brand:after, .navbar .brand:visited {
    text-decoration: none;
    color: var(--bold-text-color);
}

footer {
    margin-top: 4rem;
    text-align: center;
}
